<link rel="stylesheet" href="/css/administrador/estilos-nav.css">

<div class="contein">

    <div class="outer">
        <div class="logo"> </div>
        <div class="title">Admin</div>

    </div>

    <ol>
        <li><a href="/admin/vista/inicio">Home</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
    </ol>


</div>