
<link rel="stylesheet" href="/css/paciente/estilos-home.css">

<link rel="stylesheet" href="">

<div>
    <%- include('nav-paciente') %>
    <div class="imagen">
        <h1>BIENVENIDO AL SISTEMA DE AGENDACIÓN DE CITAS MEDICAS</h1>
        <h2>NO DESCUIDES TU SALUD</h2>

    </div>


</div>