<%- include('../compartido/estilos-generales')%>

<link rel="stylesheet" href="/css/paciente/estilos-servicios.css">

<div>
        <%- include('nav-paciente') %>
    <div >

        <h1>SISTEMA DE AGENDACIÓN DE CITAS MEDICAS</h1>
        <h2>ESPECIALIDADES MÉDICAS</h2>
        <div class="imagen">

        </div>
    </div>

</div>