<%- include('../compartido/estilos-generales')%>

<link rel="stylesheet" href="/css/doctor/estilos-home-doc.css">

<div>
    <%- include('nav-doctor') %>

    <div class="imagen">
        <h1>BIENVENIDO AL SISTEMA DE AGENDACIÓN DE CITAS MEDICAS</h1>
        <h2>NO DESCUIDES TU SALUD</h2>

    </div>

</div>