<link rel="stylesheet" href="/css/doctor/estilos-nav-doc.css">

<div class="contein">

    <div class="outer">
        <div class="logo"> </div>
        <div class="title">Doctor</div>

    </div>

    <ol>
        <li><a href="/doctor/vista/inicio">Home</a></li>
        <li><a href="/doctor/vista/citas">Citas</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
    </ol>

</div>